<main>
  <section>
    <ul>
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <li class="card hover">
            <%= image_tag(user.photo, class: "user-image border") %>
            <div class="user-data border">
              <h1><%= user.name %></h1>
              <p class="number-posts"><%= user.posts_counter %> Posts</p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>  
  </section>
</main>
